/* --------------------------------------------------------------- Lato font definition --------------------------------------------------------------- */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato_Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato_Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* --------------------------------------------------------------- Loading panel styles --------------------------------------------------------------- */
.loadingPanel
{
    background-color: #1d5d9f;
    z-index:999;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    margin: auto; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.loadingText
{
    color: #ffffff;
    font-size: 1.0em;
    font-family:'Lato', sans-serif; 
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    padding-bottom: 100px;
}
.loader 
{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    margin: auto;
    background-image: url(images/Custom/loader.gif);
    background-repeat: no-repeat;
    background-size: 40px auto;
}